body {
    font-family: sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
}
header {
    background: #333;
    color: white;
    padding: 2rem;
    text-align: center;
}
input[type="text"] {
    padding: 10px;
    width: 50%;
    font-size: 1rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}
.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.card .info {
    padding: 1rem;
}
.bottom-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2cm;
    background: #ffd1e3; /* même rose très clair que la top-bar */
    z-index: 1000;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.05);

}