{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}
<div class="accueil-image-container">
    <img src="{{ url_for('static', filename='tarteacceuil.jpg') }}" alt="Bannière accueil" class="accueil-image">
    <h1 class="accueil-titre">Bienvenue sur ENAC'ppetit !</h1>
    <div class="accueil-slogan">
        des recettes simples, rapides et pas chères pour les étudiants affamés !
    </div>
    <form class="search-bar" action="/recherche" method="get">
        <input type="text" name="q" placeholder="Rechercher une recette...">
        <button type="submit">Rechercher</button>
    </form>
</div>
<p>
    Nos recettes<br>
   <br><br>
  Venez découvrir nos recettes estivales et le menu du jour conseillé..<br>
  <br>Voir toutes les recettes...</br>
<div class="encadre-recettes align-milieu-droit">
    <a href="{{ url_for('recettes') }}" class="lien-recettes">Recettes</a>
</div>
    <br><br>
    Qui sommes-nous?<br><br>
    </br>
    Nous sommes des élèves de l’ENAC ayant eu l’idée de créer une application de recettes estivales faciles à mettre en oeuvre et rapides. <br>
    <br>
    <!--Il faut modifier le nom d el'url pour que ca pointe vers "nous contacter"-->
    <div class="encadre-recettes align-milieu-droit">
    <a href="{{ url_for('recettes') }}" class="lien-recettes">Nous contacter</a>
    <br>
    </div>
</p>
<img src="{{ url_for('static', filename='enacppetit.png') }}" alt="Description de l'image" style="display:block; margin:40px auto; max-width:90%; border-radius:16px;">

{% endblock %}