{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}
<h1>Bienvenue sur ENAC'ppetit !</h1>
<p>
    Découvrez un monde de saveurs et de convivialité.<br>
    Ici, chaque recette est une invitation au voyage culinaire.<br>
    Partagez vos plats préférés avec la communauté.<br>
    Explorez de nouvelles idées pour vos repas quotidiens.<br>
    Inspirez-vous des créations des autres membres.<br>
    <br>
    ENAC'ppetit, c'est bien plus qu'un simple site de recettes.<br>
    C'est un lieu d'échange, de partage et de découverte.<br>
    Que vous soyez débutant ou chef confirmé, vous trouverez votre bonheur.<br>
    <br>
    Rejoignez-nous et commencez à cuisiner dès aujourd'hui !<br>
    <br>
    Bon appétit et bonne visite sur notre site !<br>
    <br>
    N'hésitez pas à parcourir nos différentes rubriques.<br>
    Découvrez les recettes les plus populaires du moment.<br>
    Ajoutez vos propres créations et faites-les découvrir à tous.<br>
    <br>
    ENAC'ppetit, la passion de la cuisine partagée.<br>
    <br>
    Merci de faire partie de notre communauté gourmande !<br>
</p>
<p>
    Découvrez un monde de saveurs et de convivialité.<br>
    Ici, chaque recette est une invitation au voyage culinaire.<br>
    Partagez vos plats préférés avec la communauté.<br>
    Explorez de nouvelles idées pour vos repas quotidiens.<br>
    Inspirez-vous des créations des autres membres.<br>
    <br>
    ENAC'ppetit, c'est bien plus qu'un simple site de recettes.<br>
    C'est un lieu d'échange, de partage et de découverte.<br>
    Que vous soyez débutant ou chef confirmé, vous trouverez votre bonheur.<br>
    <br>
    Rejoignez-nous et commencez à cuisiner dès aujourd'hui !<br>
    <br>
    Bon appétit et bonne visite sur notre site !<br>
    <br>
    N'hésitez pas à parcourir nos différentes rubriques.<br>
    Découvrez les recettes les plus populaires du moment.<br>
    Ajoutez vos propres créations et faites-les découvrir à tous.<br>
    <br>
    ENAC'ppetit, la passion de la cuisine partagée.<br>
    <br>
    Merci de faire partie de notre communauté gourmande !<br>
</p>
{% endblock %}