{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}
<div class="accueil-image-container">
    <img src="{{ url_for('static', filename='tarteacceuil.jpg') }}" alt="Bannière accueil" class="accueil-image">
    <h1 class="accueil-titre">Bienvenue sur ENAC'ppétit !</h1>
    <div class="accueil-slogan">
        des recettes simples, rapides et pas chères pour les étudiants affamés !
    </div>
    <form class="search-bar" action="/recherche" method="get">
        <input type="text" name="q" placeholder="Rechercher une recette...">
        <button type="submit">Rechercher</button>
    </form>
</div>

<div class="bloc-recettes-avec-image">
    <div>
        <h1 class="titre-section">Nos recettes</h1>
       <div class="encadre-apropos align-droite">
    Venez découvrir nos recettes et le menu du jour conseillé..<br><br>
    </div>

        
        <div class="encadre-recettes">
            <a href="{{ url_for('recettes') }}" class="lien-recettes">Voir toutes les recettes</a>
        </div>
    </div>
    <img src="{{ url_for('static', filename='imageacc.jpg') }}" 
         alt="Description de l'image"
         class="image-recette-droite">
</div>
<br><br>

<div class="apropos-layout">
    <img src="{{ url_for('static', filename='enacppetit.png') }}" alt="Logo ENAC'ppetit" class="apropos-logo-grand">
    <div class="apropos-colonne">
        <h1 class="titre-section align-droite">Qui sommes-nous?</h1>
        <div class="encadre-apropos align-droite">
            Nous sommes des élèves de l’ENAC ayant eu l’idée de créer une application de recettes pour chaque saison, faciles à mettre en oeuvre et rapides.
        </div>
        <div class="align-droite" style="margin-top: 8px;">
            <div class="encadre-recettes">
                <a href="{{ url_for('apropos') }}" class="lien-apropos">Notre histoire</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}