{% extends "base.html" %}
{% block title %}Accueil{% endblock %}

{% block content %}
<div class="titre-saison">
    <h1>Recettes d'été</h1>
</div>

<div class="recettes-grid">
    {% set titres_vus = [] %}
    {% for plat in plats %}
        {% if plat['Title'] not in titres_vus %}
            <div class="encadre-nom-recette">
                {% if plat['image'] %}
                    <div class="photo-recette">
                        <a href="{{ url_for('recette', recette_id=plat['Recette_id']) }}">
                            <img src="{{ url_for('static', filename=plat['image']) }}" alt="Image de {{ plat['Title'] }}">
                        </a>
                        <div class="titre-image-recette">
                            <a href="{{ url_for('recette', recette_id=plat['Recette_id']) }}" class="lien-recette-nom">
                                {{ plat['Title'] }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% set _ = titres_vus.append(plat['Title']) %}
        {% endif %}
    {% endfor %}
    {% for dessert in desserts %}
        {% if dessert['Title'] not in titres_vus %}
            <div class="encadre-nom-recette">
                {% if dessert['image'] %}
                    <div class="photo-recette">
                        <a href="{{ url_for('recette', recette_id=dessert['Recette_id']) }}">
                            <img src="{{ url_for('static', filename=dessert['image']) }}" alt="Image de {{ dessert['Title'] }}">
                        </a>
                        <div class="titre-image-recette">
                            <a href="{{ url_for('recette', recette_id=dessert['Recette_id']) }}" class="lien-recette-nom">
                                {{ dessert['Title'] }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% set _ = titres_vus.append(dessert['Title']) %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}