{% extends "base.html" %}
{% block content %}
    <h1>Liste des recettes</h1>
    <div class="saisons-links">
        <a href="{{ url_for('ete') }}">Été</a>
        <a href="{{ url_for('automne') }}">Automne</a>
        <a href="{{ url_for('hiver') }}">Hiver</a>
        <a href="{{ url_for('printemps') }}">Printemps</a>
    </div>
    {% set noms_vus = [] %}
    {% for recette in recipes %}
        {% if recette['title'] not in noms_vus %}
            <div class="encadre-nom-recette">
                <a href="{{ url_for('recette', recette_id=recette['Recette_id']) }}" class="lien-recette-nom">
                    {{ recette['title'] }}
                </a>
                {% if recette['image'] %}
                    <div class="image-recette">
                        <img src="{{ url_for('static', filename=recette['image']) }}" alt="Image de {{ recette['title'] }}" class="photo-recette">
                    </div>
                {% endif %}
            </div>
            {% set _ = noms_vus.append(recette['title']) %}
        {% endif %}
    {% endfor %}
{% endblock %}


