{% extends "base.html" %}
{% block content %}
    
    <div class="du-jour-block encadre-jaune" style="max-width:400px; margin: 0 auto 30px auto; background:#f8f8f8; border-radius:10px; padding:18px; text-align:center;">
    <h2>Menu du jour:</h2>
    <h3>Plat du jour</h3>
    {% if plat_du_jour %}
        <div class="titre-du-jour">
            <a href="{{ url_for('recette', recette_id=plat_du_jour['Recette_id']) }}" class="lien-recette-nom">
                {{ plat_du_jour['Title'] }}
            </a>
        </div>
    {% else %}
        <p>Aucun plat disponible.</p>
    {% endif %}

    <h3 style="margin-top: 20px;">Dessert du jour</h3>
    {% if dessert_du_jour %}
        <div class="titre-du-jour">
            <a href="{{ url_for('recette', recette_id=dessert_du_jour['Recette_id']) }}" class="lien-recette-nom">
                {{ dessert_du_jour['Title'] }}
            </a>
        </div>
    {% else %}
        <p>Aucun dessert disponible.</p>
    {% endif %}
</div>
    <div class="saisons-links saisons-encadres">
        <a href="{{ url_for('automne') }}" class="saison-encadre">Automne</a>
        <a href="{{ url_for('hiver') }}" class="saison-encadre">Hiver</a>
        <a href="{{ url_for('printemps') }}" class="saison-encadre">Printemps</a>
        <a href="{{ url_for('ete') }}" class="saison-encadre">Été</a>
    </div>
    <div class="recettes-grid">
        {% set noms_vus = [] %}
        {% for recette in recipes %}
            {% if recette['title'] not in noms_vus %}
                <div class="encadre-nom-recette">
                    {% if recette['image'] %}
                        <div class="photo-recette">
                            <a href="{{ url_for('recette', recette_id=recette['Recette_id']) }}">
                                <img src="{{ url_for('static', filename=recette['image']) }}" alt="Image de {{ recette['title'] }}">
                            </a>
                            <div class="titre-image-recette">
                                <a href="{{ url_for('recette', recette_id=recette['Recette_id']) }}" class="lien-recette-nom">
                                    {{ recette['title'] }}
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% set _ = noms_vus.append(recette['title']) %}
            {% endif %}
        {% endfor %}
</div>
{% endblock %}