{% extends "base.html" %}
{% block title %}Recherche{% endblock %}

{% block content %}
<div class="titre-saison">
    <h1>Résultats pour "{{ query }}"</h1>
</div>

{% if recettes %}
    <div class="recettes-grid">
        {% set titres_vus = [] %}
        {% for recette in recettes %}
            {% if recette['Title'] not in titres_vus %}
                <div class="encadre-nom-recette">
                    {% if recette['image'] %}
                        <div class="photo-recette">
                            <a href="{{ url_for('recette', recette_id=recette['Recette_id']) }}">
                                <img src="{{ url_for('static', filename=recette['image']) }}" alt="Image de {{ recette['Title'] }}">
                            </a>
                            <div class="titre-image-recette">
                                <a href="{{ url_for('recette', recette_id=recette['Recette_id']) }}" class="lien-recette-nom">
                                    {{ recette['Title'] }}
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% set _ = titres_vus.append(recette['Title']) %}
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <p style="text-align:center;margin-top:40px;">Aucune recette trouvée pour "{{ query }}".</p>
{% endif %}
{% endblock %}