{% extends "base.html" %}
{% block content %}
    <h1>{{ recipe['title'] }}</h1>
    <p><strong>Temps de préparation :</strong> {{ recipe['Preptime'] }}</p>
    <p><strong>Temps de cuisson :</strong> {{ recipe['Cooktime'] }}</p>
    <p><strong>Catégorie :</strong> {{ recipe['Categorie'] }}</p>
    <p><strong>Description :</strong> {{ recipe['description'] }}</p>

    <h2>Équipements nécessaires</h2>
    <ul>
        {% for eq in equipements %}
            <li>{{ eq['Name'] }}</li>
        {% endfor %}
    </ul>

    <h2>Étapes</h2>
    <ol>
        {% for step in steps %}
            <li>
                <strong>Étape {{ step['Num_step'] }} :</strong> {{ step['Contenu'] }}
            </li>
        {% endfor %}
    </ol>
{% endblock %}